@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.84);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #CA7900;
    height: 30vh;
    padding: 20px;
    width: 100%;
}

nav div#nav_links {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div#nav_links ul {
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav div#nav_links ul li  {
    list-style: none;
    text-align: center;
    color: #f5f5f5;
    letter-spacing: .9px;
    cursor: pointer;
}

nav div#nav_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav div#nav_button button {
    background-color: transparent;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70%;
    gap: 15px;
    font-size: .9rem;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    letter-spacing: .9px;
    cursor: pointer;
}

nav div#nav_button button img {
    width: 20px;
    height: 20px;
}

img#beers {
    width: 70px;
    height: 70px;
    position: relative;
    top: 25px;
}

section#container {
    background-color: #CA7900;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

section#container h1 {
    color: aliceblue;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

main {
    width: 90%;
}

main ul#ulProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main ul#ulProducts li.boxCard {
    margin-top: 30px;
    height: 60vh;
    width: 100%;
    list-style: none;
    border: 4px solid #CA7900;
    border-radius: 5px;
    display: flex;
    background-color: rgba(210,105,30, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main ul#ulProducts li.boxCard img.imgCard{
    width: 100%;
    height: 200px;
}

main ul#ulProducts li.boxCard h2 {
    color: #f5f5f5;
    font-size: 1.3rem;
    letter-spacing: .1rem;
   
}

main ul#ulProducts li.boxCard p {
    color: #f5f5f5;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}

main ul#ulProducts li.boxCard button {
    width: 70%;
    height: 35px;
    background-color: #CA7900;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: .1rem;
    cursor: pointer;
    
}


@media (min-width: 650px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        background-color: rgba(0, 0, 0, 0.84);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        background-color: #CA7900;
        height: 13vh;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav div#nav_links {
        height: 70%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav div#nav_links ul {
        gap: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    nav div#nav_links ul li  {
        list-style: none;
        text-align: center;
        color: #f5f5f5;
        letter-spacing: .9px;
        cursor: pointer;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 500ms;
        font-size: 1rem;
    }

    nav div#nav_links ul li:hover {
        transform: scale(1.2);
        transition: 500ms;
    }
    
    nav div#nav_button {
        width: 60%;
        display: flex;
        justify-content: center;
    }
    
    nav div#nav_button button {
        background-color: transparent;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 70%;
        gap: 15px;
        font-size: 1rem;
        border: 2px solid #f5f5f5;
        border-radius: 10px;
        letter-spacing: .9px;
        cursor: pointer;
    }
    
    nav div#nav_button button img {
        width: 20px;
        height: 20px;
    }

    img#beers {
        width: 110px;
        height: 110px;
        position: relative;
        top: 40px;
    }
    
    section#container {
        background-color: #CA7900;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 30vh;
    }
    
    section#container h1 {
        color: aliceblue;
        font-size: 1.5rem;
        width: 102%;
        text-align: center;
    }

    main {
        width: 95%;
    }
    
    main ul#ulProducts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    
    main ul#ulProducts li.boxCard {
        margin-top: 30px;
        height: 60vh;
        width: 40%;
        list-style: none;
        border: 4px solid #CA7900;
        border-radius: 5px;
        display: flex;
        background-color: rgba(210,105,30, 0.4);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    main ul#ulProducts li.boxCard img.imgCard{
        width: 100%;
        height: 200px;
    }
    
    main ul#ulProducts li.boxCard h2 {
        color: #f5f5f5;
        font-size: 1.3rem;
        letter-spacing: .1rem;
       
    }
    
    main ul#ulProducts li.boxCard p {
        color: #f5f5f5;
        font-size: 1.3rem;
        letter-spacing: .1rem;
    }
    
    main ul#ulProducts li.boxCard button {
        width: 70%;
        height: 35px;
        background-color: #CA7900;
        color: #f5f5f5;
        border: 2px solid #f5f5f5;
        border-radius: 5px;
        font-size: 1rem;
        letter-spacing: .1rem;
        cursor: pointer;
        
    }
}

@media (min-width: 768px) {
    
    nav div#nav_button {
        width: 43%;
        display: flex;
        justify-content: center;
    }

    nav div#nav_links ul li  {
        list-style: none;
        text-align: center;
        color: #f5f5f5;
        letter-spacing: .9px;
        cursor: pointer;
        width: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 500ms;
        font-size: 1rem;
    }

    img#beers {
        width: 150px;
        height: 150px;
        position: relative;
        top: 55px;
    }
}

@media (min-width: 880px) {
    main ul#ulProducts li.boxCard {
        margin-top: 30px;
        height: 60vh;
        width: 30%;
        list-style: none;
        border: 4px solid #CA7900;
        border-radius: 5px;
        display: flex;
        background-color: rgba(210,105,30, 0.4);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: 1050px) {
    
    nav div#nav_button {
        width: 30%;
        display: flex;
        justify-content: center;
    }
}